.thumbnail {
    width: 285px;
    height: 210px;
    margin: 30px 10px 0 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.2s;
}

.thumbnail:hover,
.thumbnail:active {
    box-shadow: 0 0 5px #aaa;
}