.container {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.thumbnail {
  flex-grow: 1;
  margin: 10px;
  background: lightgray;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.mobileThumbnail {
  width: 140px;
  height: 90px;
}

.description {
  text-align: center;
  font-size: 0.9em;
}
