.container {
  display: flex;
  justify-content: center;
}

.thumbnail {
  flex-grow: 1;
  margin: 10px;
  background: lightgray;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.mobileThumbnail {
  width: 140px;
  height: 90px;
}