.container {
  min-height: 500px;
  background-color: lightgray;
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.mobileContainer {
  min-height: 100px;
}

.image {
  width: 100%;
}